@charset "utf-8";
html {
    font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: aquamarine;
}
a {
    text-decoration: none;
}
.navigation-container {
    display: flex;
    flex-wrap: wrap;
    background: url(./images/Aurora-Borealis-Photos/Aurora-Photo-unsplash-5.jpg) no-repeat center;
    background-size: cover;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    border: 2px solid white;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.35);
}
.button {
    display: flex;
    flex-wrap: wrap;
    font: bolder 1.5rem "Roboto";
    padding: 1rem;
    width: 6rem;
    height: 4rem;
    background-color: white;
    border-radius: 0.625rem;
    align-items: center;
    justify-content: center;
    margin: 0.625rem;
    transition: background-color 2s linear 0s,
                 text-decoration 2s linear 0s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.35);
}
.button:hover {
    background-color: aquamarine;
    border: 2px solid blue;
    text-decoration: underline;
}
.article-container {
    display: flex;
    background: url(./images/Aurora-Borealis-Photos/Aurora-Photo-unsplash-4.jpg) no-repeat center;
    background-size: cover;
    width: 75%;
    height: 500px;
    overflow: auto;
    justify-content: center;
    margin: 25px auto;
    border-radius: 20px;
    border: 3px solid limegreen;
    text-align: center;
}
.article-text {
    color: white;
    margin: 20px;
    width: 90%;
    min-width: 250px;
    font: bold 1.75rem "Roboto";
    letter-spacing: 1px;
}
.article-title {
    font: bold 6rem "Dancing Script";
    margin: 0 auto;
    color: lightblue;
    text-shadow: black 0.1em 0.1em 0.2em;
    min-width: 250px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px 25px 40px 25px;
}
.card {
    width: 600px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
    margin: 20px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 16px;
}
.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p {
    color: #676363;
    font-size: 15px;
    line-height: 1.3;
    text-indent: 20px;
}
.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    transition: background-color 0.5s linear 0s,
                           color 0.5s linear 0s;
}
#Aurora-Info-Link:hover {
    background-color: darkgreen;
    color: orange;
    filter: drop-shadow(5px 3px 2px #000000);
}
.Gallery-Intro {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px -25px 0px;
    padding: 25px 25px;
    font: 500 1.5em "Oswald";
    text-decoration: none; 
}
.Gallery-Intro a {
     transition: color 0.75s linear 0s,
           text-shadow 0.75s linear 0s;
}
.Gallery-Intro a:hover {
    color: rgb(163, 32, 163);
    text-shadow: green 0.1em 0.2em 0.3em;
}
.Gallery-Container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}
.Gallery-Container img {
    width: 250px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
    margin: 20px;
    height: auto;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    background: url(./images/Aurora-Borealis-Photos/Aurora-Photo-unsplash-5.jpg) no-repeat center;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    border: 2px solid white;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.35);
}
.footer-container a {
    color: greenyellow;
    font-size: 18px;
}
.footer-container a:hover {
    text-shadow: black 0.2em 0.3em 0.4em;
    color: violet;
    text-decoration: underline;
}
