@charset "utf-8";
body {
	background-color: black;
	background:url(./images/Maine-Photos/Maine-Photo3.jpg) no-repeat center;
	background-size: cover;
	animation: animate-maine 15s ease-in-out 0s infinite forwards running alternate-reverse;
}
@keyframes animate-maine{
  0% {
    background-image:url(./images/Maine-Photos/Maine-Photo1.jpg);
  }
  33% {
    background-image:url(./images/Maine-Photos/Maine-Photo2.jpg);
  }
  67% {
    background-image:url(./images/Maine-Photos/Maine-Photo3.jpg);
  }
  100% {
    background-image:url(./images/Maine-Photos/Maine-Photo4.jpg);
  }
}
nav {
	width: 100%;
	border: 3px solid orange;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background:url(./images/Maine-Photos/Maine-Photo3.jpg) no-repeat center;
	background-size: cover;
}
#lobster-btn {
	font-family: "Amatic SC";
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	filter: drop-shadow(5px 3px 10px #000000);
	background: url(./images/Maine-page-images/lobster-button-img.png) no-repeat center;
	background-size: 160px;
	transition: font-size 0.5s linear 0s,
	                color 0.5s linear 0s;
}
.home-button {
	font-family: "Amatic SC";
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	filter: drop-shadow(5px 3px 10px #000000);
	background:url(./images/images/Leaf-Button1.png) no-repeat center;
	background-size: 160px;
}
#videos-btn {
	font-family: "Amatic SC";
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	filter: drop-shadow(5px 3px 10px #000000);
	background:url(./images/Maine-page-images/video-reel5.png) no-repeat center;
	background-size: 300px;
	transition: font-size 0.5s linear 0s,
	                color 0.5s linear 0s;
}
a:hover, #lobster-btn:hover, #videos-btn:hover {
	color: lightblue;
	font-size: 3.25em;
}
a {
	align-content: center;
	width: 200px;
	height: 200px;
	color: beige;
	border-radius: 5px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: font-size 0.5s linear 0s,
	                color 0.5s linear 0s;
}
.Maine-Title {
	display: flex;
	align-items: center;
    aspect-ratio: 4/1;
}
.welcome {
	display: flex;
	text-align: center;
	font: bolder 10vw "Dancing Script";
	display: block;
	color: white;
	margin: 0 auto;
	text-shadow: black 0.05em 0.075em 0.075em;
	position: relative;
	top: 20px;
	z-index: 1;
}
h1 {
	width: 400px;
	height: auto;
	margin: -125px 0px;
	flex: 2 3 150px;
	font: 900 20vw "Rammetto One";
	text-align: center;
	color: transparent;
	background:url(./images/Maine-page-images/map-of-maine1.png) no-repeat center;
	background-size: cover;
	background-clip: text;
	filter: drop-shadow(5px 3px 7px #000000);
	z-index: 1;
}
.lobster-container {
	display: flex;
	height: 800px;
	border: 3px solid red;
	margin: 10px auto;
	background: url(./images/Maine-page-images/Red-Lobster-with-view.jpg) no-repeat center;
	background-size: cover;
}
.lobster-text {
	display: block;
	color: white;
	font: bold 3em Roboto;
	letter-spacing: 1px;
	text-shadow: black 0.05em 0.075em 0.05em;
	padding: 20px 20px;
	margin: 10px auto;
	overflow: auto;
}
section {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin: 20px;
	flex-wrap: wrap;
}
iframe {
	border: 3px solid orange;
	border-radius: 10px;
	margin: 40px;
}
#video-container {
	display: flex;
	margin: 10px;
}
#link-back-to-top {
	font: bold 1.75em Roboto;
	filter: drop-shadow(5px 3px 10px #000000);
	margin: 25px auto;
	text-transform: uppercase;
	display: flex;
	align-content: center;
}