@charset "utf-8";
html {
    font-size: 16px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
	.button {
        font-size: 0.85rem;
	}
}
.button {
    color: blueviolet;
    min-width: 6rem;
    min-height: 2rem;
    font: bold 1rem "Roboto";
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.333rem;
    border: 0.125rem solid lavender;
    text-align: center;
    align-content: center;
    margin: 1.25rem;
    transition: background-color 1.5s linear 0s;
}
.button:hover {
    background-color: lightgrey;
    border: none;
    /*border-radius: 50%;*/
    transition-duration: 1s;
}
.button:not(:hover) {
    border-radius: 0.333rem;
    background-color: none;
    transition-duration: 1s;
}
.San-Fran-Text-Container {
    display: flex;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    height: auto;
    justify-content: center;
    aspect-ratio: 5/1;
    overflow-x: auto;
    background:url(./images/San-Fran-Photos/golden-gate-bridge-1.jpg) no-repeat center;
	background-size: cover;
    animation: animate-sf 9s ease-in-out 0s infinite forwards running alternate-reverse;
}
.San-Fran-Text-Container p {
    background:url(./images/San-Fran-Photos/san-fran-for-text-clip-2.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-clip: text;
    background-clip: text;
    background-position: center;
    color: transparent;
	font: 100 10vw "Anton";
    -webkit-text-stroke: 1px red;
    z-index: 1;
    text-align: center;
    position: absolute;
    filter: drop-shadow(3px 3px 3px #000000);
}
@keyframes animate-sf {
    0% {
        background-image: url(./images/San-Fran-Photos/golden-gate-bridge-1.jpg);
    }
    50% {
        background-image: url(./images/San-Fran-Photos/famous-painted-ladies-san-fran-2.jpg);
    }
    100% {
        background-image: url(./images/San-Fran-Photos/powell-street-san-fran-3.jpg);
    }
}
.San-Fran-Text-Container:hover {
    border: 3px solid blueviolet;
}
.About-Container {
    padding: 15px;
}
.About-Paragraph {
     max-height: 0;
     overflow: hidden;
     transition: max-height 1s ease-in-out,
                  position  1s ease-in-out,
                  padding   1s ease-in-out,
                   font     1s ease-in-out,
        background-color    1s ease-in-out;
}
.About-Container:hover .About-Paragraph {
    max-height: 500px;
    background-color: sienna;
    color: white;
    font-family: "Raleway";
    padding: 15px; 
}
.About-Container:not(:hover) .About-Paragraph {
    max-height: 0;
    font-family: "Raleway"; 
    padding: -15px; 
}