/*Note: 1em equals 16px. Multiply the em value by 16 to know the pixel value again.*/
@charset "utf-8";
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
body {
	background:url(./images/Body-images/nature-photo1.jpg) no-repeat center;
	background-size: cover;
	animation: animate 15s ease-in-out 0s infinite forwards running alternate-reverse;
}
@keyframes animate {
  0% {
    background-image:url(./images/Body-images/nature-photo1.jpg);
  }
  33% {
    background-image:url(./images/Body-images/nature-photo2.jpg);
  }
  67% {
    background-image:url(./images/Body-images/nature-photo3.jpg);
  }
  100% {
    background-image:url(./images/Body-images/nature-photo4.jpg);
  }
}
.intro:hover, .intro2:hover {
	transform: scale(1.25) rotate(-5deg);
	transition-duration: 1.5s;
}
.intro:not(:hover), .intro2:not(:hover) {
	transform: scale(1);
	transition-duration: 1s;
}
.intro {
	color: orange;
	font: 700 2.5em "Amatic SC";
	text-shadow: black 0.1em 0.1em 0.15em;
	animation: fadeoutfadein 6s infinite;
	margin: 50px;
	position: relative;
	top: 25px;
}
.intro2 {
	color: orange;
	font: 700 2.5em "Amatic SC";
	text-shadow: black 0.1em 0.1em 0.15em;
	animation: fadeoutfadein 6s infinite;
	margin: 50px;
	position: relative;
	top: 25px;
}
@keyframes fadeoutfadein {
	0% {
		color: orange;
	}
	50% {
		opacity: 0%;
	}
	100% {
		color: orange;
	}
}
header {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	height: 400px;
}
.nature-header {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	height: 350px;
	width: 400px;
	min-width: 400px;
	font: 550 6.875em "Dancing Script";
	text-align: center;
	color: white;
	background:url(./images/images/Leaf-1.png) no-repeat center;
	background-size: cover;
	filter: drop-shadow(5px 3px 7px #000000);
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: opacity 0.5s linear 0s,
	              color 0.5s linear 0s,
			  font-size 0.5s linear 0s,
			     height   1s linear 0s,
				  width   1s linear 0s;
	position: relative;
	left: 15px;
	margin: 50px 0px 75px 0px;
}
.nature-header:hover {
	opacity: 80%;
	color:#6CF;
	font-size: 8.125em;
	height: 390px;
	width: 440px;
}
.outdoors {
	display: flex;
	justify-content: center;
	font: 500 2.063em "Dancing Script";
	color: white;
	position: relative;
	bottom: 170px;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-align: center;
}
.places {
	text-align: center;
	font: 4.69em "Dancing Script";
	color: orange;
	height: 70px;
	z-index: 1;
	width: auto;
	filter: drop-shadow(5px 3px 7px #000000);
	animation: fadeoutfadein2 6s infinite;
	position: relative;
	right: 10px;
	bottom: 65px;
}
@keyframes fadeoutfadein2 {
	25% {
		color: #6CF;
	}
	65% {
		opacity: 0%;
	}
	
	75% {
		color: orange;
	}
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}
.gallery-item {
	display: flex;
    width: 400px;
	height: 300px;
	--img-border: 3px solid GhostWhite;
	border: var(--img-border);
	/*border: 3px solid GhostWhite; (I commented out this code to practice the Variable and Function above this line) */
	border-radius: 10px;
	margin: 20px;
}
.thumbnail-1 {
	border-radius: 7px;
	display: block;
	text-align: center;
	padding: 1rem;
	width: 100%;
	background: url(./images/Maine-Photos/Maine-Photo1.jpg) no-repeat center;
	background-size: cover;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font: bold 1.5625em Oswald;
	animation: animate-thumbnail-1 9s ease-in-out 0s infinite forwards running alternate-reverse;
	filter: drop-shadow(5px 3px 7px #000000);
}
@keyframes animate-thumbnail-1{
  0% {
    background-image:url(./images/Maine-Photos/Maine-Photo1.jpg);
  }
  50% {
    background-image:url(./images/Maine-Photos/Maine-Photo2.jpg);
  }
  100% {
    background-image:url(./images/Maine-Photos/Maine-Photo3.jpg);
  }
}
.thumbnail-2 {
	border-radius: 7px;
	display: block;
	text-align: center;
	padding: 1rem;
	width: 100%;
	background: url(./images/Colorado-Photos/Colorado-Photo1.jpg) no-repeat center;
	background-size: cover;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font: bold 1.5625em Oswald;
	animation: animate-thumbnail-2 9s ease-in-out 0s infinite forwards running alternate-reverse;
	filter: drop-shadow(5px 3px 7px #000000);
}
@keyframes animate-thumbnail-2{
  0% {
    background-image:url(./images/Colorado-Photos/Colorado-Photo1.jpg);
  }
  50% {
    background-image:url(./images/Colorado-Photos/Colorado-Photo2.jpg);
  }
  100% {
    background-image:url(./images/Colorado-Photos/Colorado-Photo3.jpg);
  }
}
.thumbnail-3 {
	border-radius: 7px;
	display: block;
	text-align: center;
	padding: 1rem;
	width: 100%;
	background: url(./images/San-Fran-Photos/golden-gate-bridge-1.jpg) no-repeat center;
	background-size: cover;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font: bold 1.5625em Oswald;
	animation: animate-thumbnail-3 9s ease-in-out 0s infinite forwards running alternate-reverse;
	filter: drop-shadow(5px 3px 7px #000000);
}
@keyframes animate-thumbnail-3 {
  0% {
    background-image:url(./images/San-Fran-Photos/golden-gate-bridge-1.jpg);
  }
  50% {
    background-image:url(./images/San-Fran-Photos/powell-street-san-fran-3.jpg);
  }
  100% {
    background-image:url(./images/San-Fran-Photos/famous-painted-ladies-san-fran-2.jpg);
  }
}
.thumbnail-4 {
	border-radius: 7px;
	display: block;
	text-align: center;
	padding: 1rem;
	width: 100%;
	background: url(./images/Italy-Photos/Italy-Photo1.jpg) no-repeat center;
	background-size: cover;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font: bold 1.5625em Oswald;
	animation: animate-thumbnail-4 9s ease-in-out 0s infinite forwards running alternate-reverse;
	filter: drop-shadow(5px 3px 7px #000000);
}
@keyframes animate-thumbnail-4{
  0% {
    background-image:url(./images/Italy-Photos/Italy-Photo1.jpg);
  }
  50% {
    background-image:url(./images/Italy-Photos/Italy-Photo2.jpg);
  }
  100% {
    background-image:url(./images/Italy-Photos/Italy-Photo3.jpg);
  }
}
.thumbnail-5 {
	border-radius: 7px;
	display: block;
	text-align: center;
	padding: 1rem;
	width: 100%;
	background: url(./images/Aurora-Borealis-Photos/Aurora-Photo1.jpg) no-repeat center;
	background-size: cover;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font: bold 1.5625em Oswald;
	animation: animate-thumbnail-5 9s ease-in-out 0s infinite forwards running alternate-reverse;
	filter: drop-shadow(5px 3px 7px #000000);
}
@keyframes animate-thumbnail-5{
  0% {
    background-image:url(./images/Aurora-Borealis-Photos/Aurora-Photo1.jpg);
  }
  50% {
    background-image:url(./images/Aurora-Borealis-Photos/Aurora-Photo2.jpg);
  }
  100% {
    background-image:url(./images/Aurora-Borealis-Photos/Aurora-Photo3.jpg);
  }
}
.thumbnail-6 {
	border-radius: 7px;
	display: block;
	text-align: center;
	padding: 1rem;
	width: 100%;
	background: url(./images/Del-Water-Gap-Photos/Del-Gap-Photo1.jpg) no-repeat center;
	background-size: cover;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font: bold 1.5625em Oswald;
	animation: animate-thumbnail-6 9s ease-in-out 0s infinite forwards running alternate-reverse;
	filter: drop-shadow(5px 3px 7px #000000);
}
@keyframes animate-thumbnail-6{
  0% {
    background-image:url(./images/Del-Water-Gap-Photos/Del-Gap-Photo1.jpg);
  }
  50% {
    background-image:url(./images/Del-Water-Gap-Photos/Del-Gap-Photo2.jpg);
  }
  100% {
    background-image:url(./images/Del-Water-Gap-Photos/Del-Gap-Photo3.jpg);
  }
}
.thumbnail-1:hover:after, .thumbnail-2:hover:after, .thumbnail-3:hover:after, .thumbnail-4:hover:after, .thumbnail-5:hover:after, .thumbnail-6:hover:after {
	content: "Click to learn more!";
	font-family: "Amatic SC";
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 1.75em;
} 
 :root {
	    --img-border: 3px solid GhostWhite; /*add this to any element in the document, and it will add the GhostWhite border. (see ".gallery-item" class above)*/
    }
@media only screen and (min-width: 360px) and (orientation: portrait) {
	.intro, .intro2 {
		display: none;
	}
	.nature-header {
		position: relative;
		left: 0px;
	}
}
@media only screen and (max-width: 900px) { /* Dark Color Theme */
	.footer-links {
		border: 3px solid orange;
	}
	body {
		animation-name: none;
		background: #000;
	}
	.gallery-item {
		border: 3px solid Orange;
	}
	.thumbnail-1, .thumbnail-2, .thumbnail-3, .thumbnail-4, .thumbnail-5, .thumbnail-6 {
		filter: none;
    }
	.places {
		margin-bottom: 30px;
		margin-top: 30px;
	}
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
	.places {
		font-size: 2.75em;
		line-height: 50px;
		margin: 0px 20px 0px 20px;
	}
	.nature-header {
		font-size: 5.25em;
	}
	.nature-header:hover {
		font-size: 6em;
	}
}
.button:hover {
	border: 3px solid darkblue;
	text-decoration: underline;
	box-shadow: 0px 0px 15px 5px white;
	}
.button {
    width: 7em;
    height: 2.25em;
	border: 3px solid limegreen;
	border-radius: 10px;
    text-align: center;
    color: darkblue;
	background-color: orange;
    transition: color 1s linear 0s;
	font: bold 1.5em Oswald;
	letter-spacing: 1px;
	align-content: center;
	text-decoration: none;
	filter: drop-shadow(5px 3px 7px #000000);
}
.footer-links {
	display: flex;
	flex-wrap: wrap;
	height: 100px;
	background: url(./images/images/Nav-Leaves.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
    align-content: center;
	margin: 20px;
	border: 3px solid limegreen;
}